

 <footer>
     
         <div class="row">
             <div class="col-md-2">

            <a href="/contactUs">Countact us</a> 
             </div>
         
         </div>
     
     
 </footer>