<div class="container">
    <h2>Add New Product</h2>
            <hr />
       {{#if errorMessage}}
             <div class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>
             <a class="btn btn-success pull-right"
                href="/products/add">&nbsp;&nbsp;&nbsp;Add next product &nbsp;&nbsp;&nbsp;</a><br /><br /><br />
                {{else if successMessage}}
             <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div><a class="btn btn-success pull-right"
                href="/productList">&nbsp;&nbsp;&nbsp;Proceed to Product Page &nbsp;&nbsp;&nbsp;</a><br /><br /><br />
                <a class="btn btn-success pull-right"
                href="/products/add">&nbsp;&nbsp;&nbsp;Add next product &nbsp;&nbsp;&nbsp;</a><br /><br /><br />
                        
                 
                 {{else}}
    <div class="row">
        <div class="col-md-12">
     
            <form method="post" action="/products/add" enctype="multipart/form-data">

                <fieldset>
                    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input class="form-control" id="title" name="title" type="text" />
                                    </div>
                                </div>
                            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Ingredient">Ingredient:</label>
                                        <input class="form-control" id="Ingredient" name="Ingredient" type="txt" size="60" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="price">Price:</label>
                                        <input class="form-control" id="price" name="Price" type="txt"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <label> Category </label>
                                <select name="Category">
                                    <option value="dish">Smart Food</option>
                                    <option value="salad">Salad</option>
                                    <option value="vegan">Vegan</option>
                                    <option value="seafood">Seafood</option>
                                 </select>
                                <br><br>
                            </div>

                                <label> Day Special
                                </label>
                                <select name="RTEday">
                                    <option value="All-days">All days</option>
                                    <option value="Mo">Monday</option>
                                    <option value="Tu">Tuesday</option>
                                    <option value="We">Wednesday</option>
                                    <option value="Th">Thursday</option>
                                    <option value="Fr">Friday</option>
                                    <option value="Sa">Saturday</option>
                                    <option value="Su">Sunday</option>
                                </select>
                                <br><br>

                        </fieldset>

                    
                    <fieldset>
                        <div class="row">
                                                                          
                            <div class="col-md-6">
                                <label for="photo">Photo ID</label>
                                <input id="photo" type="file" name="photo"/><br />
                            </div>

                          </div>
                    </fieldset>
                    <hr />
            
                    <input type="submit" class="btn btn-primary pull-right" value="Add Product" /><br /><br /><br />
            </form>
        </div>
    </div>
     {{/if}}
</div>