
<div>

<img id="main" src="/img/homepage2.jpg" alt="Home Page">
<ul class="cBottom"><a href= "#Section_down">View Packages</a></ul>
     
</div>


<h2 id="Section_down">Our Packages</h2>
 <ul id="package" >
     <li class=""><a href="/smartFood" ><img src="img/dish/kabab.jpg" alt="smart food"></a>
         <figcaption>Smart Food</figcaption>
        
         </li>


     <li class=""><a href="/vegan" ><img src="img/vegan/home2.jpg" alt="vegan" ></a>
        <figcaption>Vegan food</figcaption> </li>


     <li class=""><a href="/SeaFood" ><img src="img/seafood/shrimpspaghetti.jpg" alt="seafood"></a>
         <figcaption>Seafood</figcaption> </li>
     <li class="">
         <a href="/Salad" ><img src= "/img/salads/home.jpg" alt="salad"></a>
         <figcaption>Salad</figcaption>
          </li>
 </ul>



