<div class="container">
     <h2>Log In</h2>
    <hr />
  {{#if errorMessage}}
    <div class="alert alert-danger"><strong>Error:</strong>{{errorMessage}}</div>
  {{/if}}
    <form action="/login" method="POST">
        <label for="email">Email</label>
        <input id="email" type="email" name="email"/><br />
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/><br />
        <input type="submit" value="Submit File" />
    </form>
</div>